/*Fill in later*/

:root {
    --dark-yellow: #FF9F1C;
    --yellow: #FFBF69;
    --pastel-blue: #CBF3F0;
    --bright-blue: #2EC4B6;
    --white: #FFFFFF;
}

body {
    background-color: var(--yellow);
}

body h1 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    background-color: var(--dark-yellow);
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.topnav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: var(--bright-blue);
    border-radius: 15px;
}

.topnav form,
input {
    margin-left: 1em;
}

input[type=text] {
    transition-property: width;
    transition-duration: 0.4s;
    width: 25%;
    outline: none;
    border: solid;
    border-radius: 10px;
    border-color: var(--pastel-blue);
    font-size: 16px;
}

input[type=text]:hover {
    width: 42.5%;
    border-color: var(--yellow);
}

input[type=text]:focus {
    width: 42.5%;
    border-color: var(--yellow);
}

select {
    border: solid;
    border-radius: 10px;
    border-color: var(--yellow);
    background-color: var(--dark-yellow);
    font-size: 16px;
    cursor: pointer;
}

input[type=submit] {
    background-color: var(--white);
    color: var(--dark-yellow);
    border-radius: 15px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.topnav form input[type=submit] {
    color: black;
    padding-left: 0.25em;
}

.alertmsg {
    width: fit-content;
    overflow: hidden;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 1.75em;
    background-color: var(--bright-blue);
    color: var(--white);
    border-radius: 0px 0px 15px 15px;
    font-family: 'Poppins', sans-serif;
}

header nav {
    margin-bottom: 1em;
}

nav a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: var(--pastel-blue);
    border-style: solid;
    border-radius: 15px;
    border-color: var(--bright-blue);
}

nav a:link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

nav a:visited {
    color: var(--dark-yellow);
}

nav a:hover {
    color: var(--white);
}

.main {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: var(--pastel-blue);
    border-style: solid;
    border-color: var(--bright-blue);
    border-radius: 15px;
}

.main a:link {
    display: inline-block;
    padding-top: 0.25em;
    padding-left: 2em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.main a:visited {
    color: var(--bright-blue);
}

.main a:hover {
    color: var(--white);
}

.main header {
    display: flex;
    justify-content: center;
}

.main header h1 {
    padding-right: 1em;
}

.main-container .main {
    background: none;
    border-style: none;
}

.create-recipe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--bright-blue);
    color: var(--white);
    border-radius: 15px;
}

.create-recipe-area {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

textarea {
    margin-top: 5px;
    margin-bottom: 8px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--pastel-blue);
    border-radius: 10px;
}

.button-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cancel-button {
    background-color: var(--dark-yellow);
    border: none;
    color: var(--white);
    padding: 5px 12px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 12px;
    margin-bottom: 8px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.save-button {
    background-color: var(--white);
    border: none;
    color: var(--dark-yellow);
    padding: 5px 12px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 12px;
    margin-bottom: 8px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.recipe-parts {
    margin: 0;
    padding-top: 15px;
}

.recipe-name {
    width: 150px;
}

.recipe-keyword {
    width: 150px;
}

.recipe-ingredients {
    width: 250px;
}

.recipe-instructions {
    width: 275px;
}

.recipe-display {
    display: flex;
    flex-direction: column;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.steps {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.update-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    padding-right: 1em;
}

.topbar a:link {
    background-color: var(--bright-blue);
    color: var(--pastel-blue);
    padding: 1em;
    border-radius: 0px 0px 15px 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.topbar a:visited {
    color: var(--dark-yellow);
}

.topbar a:hover {
    color: var(--white);
}

.main-container {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    justify-content: center;
}

.side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2em;
    background-color: var(--bright-blue);
    color: var(--white);
    border-radius: 15px 0px 0px 15px;
}

.side-nav h1 {
    background: none;
    padding-right: 1em;
}

.side-list {
    background-color: var(--pastel-blue);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 15px 0px 0px 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.side-list div a:link {
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.25em;
    text-decoration: none;
}

.recipe-display {
    background-color: var(--dark-yellow);
    padding-right: 2em;
    padding-bottom: 2em;
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
}

.recipe-display h1 {
    padding-left: 1em;
    padding-right: 1em;
}

.recipe-display button {
    background-color: var(--white);
    color: var(--dark-yellow);
    border-radius: 15px;
    margin-left: 35%;
    margin-right: 35%;
    cursor: pointer;
}

.recipe {
    padding: 2em;
    background-color: var(--yellow);
    border-radius: 0px 15px 15px 0px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 600px) {
    .main-container {
        flex-direction: column-reverse;
    }
    .side-nav {
        padding-left: 0em;
        border-radius: 0px 0px 15px 15px;
    }
    .side-list {
        width: 100%;
        border-radius: 0px 0px 15px 15px;
    }
    .recipe-display {
        align-items: center;
        padding-right: 0em;
        border-radius: 15px 15px 0px 0px;
    }
    .ingredients {
        padding-left: 2em;
    }
    .steps {
        padding-left: 2em;
    }
    .recipe {
        width: 100%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        border-style: solid;
        border-color: var(--bright-blue);
        border-radius: 15px 15px 15px 15px;
    }
}