<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Create Recipe</title>
</head>

<body>
    <div class="main-container">
        <section class="main">
            <header>
                <h1>Create Recipe</h1>
            </header>
        <section class="create-recipe-container">
            <div class="create-recipe-area">
                <h2 class="recipe-parts">Name</h2>
                <textarea class="recipe-name" placeholder="type recipe name here" name="Recipe Name" rows="2" cols="20"></textarea>
                <h2 class="recipe-parts">Keyword</h2>
                <textarea class="recipe-keyword" placeholder="type keyword here" name="Recipe Keyword" rows="2" cols="20"></textarea>
                <h2 class="recipe-parts">Ingredients</h2>
                <textarea class="recipe-ingredients" placeholder="type ingredients here" name="Recipe Ingredients" rows="10" cols="30"></textarea>
                <h2 class="recipe-parts">Instructions</h2>
                <textarea class="recipe-instructions" placeholder="type instructions here" name="Recipe Instructions" rows="15" cols="40"></textarea>
            </div>
            <div class="button-area">
                <button class="cancel-button">Cancel</button>
                <button class="save-button">Save</button>
            </div>
        </section>
            <section class="create-recipe-container">
                <div class="create-recipe-area">
                    <h2 class="recipe-parts">Name</h2>
                    <textarea class="recipe-name" placeholder="type recipe name here" name="Recipe Name" rows="2" cols="20"></textarea>
                    <h2 class="recipe-parts">Ingredients</h2>
                    <textarea class="recipe-ingredients" placeholder="type ingredients here" name="Recipe Ingredients" rows="10" cols="30"></textarea>
                    <h2 class="recipe-parts">Instructions</h2>
                    <textarea class="recipe-instructions" placeholder="type instructions here" name="Recipe Instructions" rows="15" cols="40"></textarea>
                </div>
                <div class="button-area">
                    <button class="cancel-button">Cancel</button>
                    <button class="save-button">Save</button>
                </div>
            </section>

        </section>










    </div>


</body>

</html>