<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Example Recipe</title>
</head>

<body>
    <div class="topbar">
        <a href="/update/{{ recipe[0].name }}">Edit Recipe</a>
        <a href="/">Back</a>
    </div>
    <div class="main-container">
        <section class="side-nav">
            <h1>CookBook Pro</h1>
            <div class="side-list">
                {% for i in recipe[1] %}
                <div class="singlerecipecard">
                    <a href="/recipes/{{ i.name }}">
                  {{ i.name }}
                </a>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="recipe-display">
            <h1 class="title-name">{{ recipe[0].name }}</h1>
            <article class="recipe">
                <div class="ingredients">
                    <span>Ingredients:</span>

                    <body>
                        {{ recipe[0].ingredients }}
                    </body>
                </div>
                <div class="steps">
                    <span>Instructions:</span>

                    <body>
                        {{ recipe[0].instructions }}
                    </body>
                </div>
            </article>

            <button onclick="delete_recipe()">Delete</button>
            <script>
                function delete_recipe() {
                    event.preventDefault()
                    return fetch("/recipes/{{ recipe[0].name }}", {
                            method: 'DELETE'
                        })
                        .then(response => {
                            if (response.redirected) {
                                window.location.href = response.url
                            }
                        })
                }
            </script>
        </section>
    </div>
</body>

</html>