<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/CSS/fontawesome/css/all.css">
    <link rel="stylesheet" href="src/CSS/style.css">
    <script defer src="src/app.js"></script>
    <title>Example Reciepe</title>
</head>

<body>
    <div class="main-container">
        <section class="recipe-display">
            <h1 class="title-name">Example Reciepe</h1>
            <article class="reciepe">
                <span class="ingreedents">Ingreedents needed:</span>
                <li></li>
                <span class="steps">Instructions</span>
                <li></li>
            </article>
        </section>
    </div>
</body>

</html>