<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookBook Pro</title>
    
  </head>
  <body>
    <header>
      <nav>
        <a href="index.html">Recipes</a>
        <a href="create_recipe.html">Create New Recipe</a>
      </nav>
    </header>

    <div class="main">
      {% for i in recipes %}
      <div class="singlerecipe">{{ i.name }}</div>
      {% endfor %}
    </div>

  </body>
</html>
