<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@500&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Update Recipe</title>
</head>

<body>
    <div class="topnav">
        <input type="text" placeholder="Search..">
    </div>
    <div class="main-container">
        <section class="update-recipe">
            <form>
                <h1 class="title-name">Edit: {{ recipe[0].name }}</h1>

                <section class="create-recipe-container">
                <div class="create-recipe-area">
                    <h2 class="recipe-parts">Name</h2>
                    <textarea class="recipe-name" placeholder="type recipe name here" name="Recipe Name" rows="2" cols="20">{{ recipe[0].name }}</textarea>
                    <h2 class="recipe-parts">Keyword</h2>
                    <textarea class="recipe-keyword" placeholder="type keyword here" name="Recipe Keyword" rows="2" cols="20">{{ recipe[0].keyword }}</textarea>
                    <h2 class="recipe-parts">Ingredients</h2>
                    <textarea class="recipe-ingredients" placeholder="type ingredients here" name="Recipe Ingredients" rows="10" cols="30">{{ recipe[0].ingredients }}</textarea>
                    <h2 class="recipe-parts">Instructions</h2>
                    <textarea class="recipe-instructions" placeholder="type instructions here" name="Recipe Instructions" rows="15" cols="40">{{ recipe[0].instructions }}</textarea>
                </div>
                    <div class="button-area">
                        <input type="submit" method="GET" formaction="/" class="cancel-button" value="Cancel">
                        <button class="save-button" onclick="update()">Save</button>
                    </div>
                </section>
                        <script>
                            function update() {
                                event.preventDefault()
                                let req_body = new FormData()
                                req_body.append("Recipe Name", document.querySelector('[name="Recipe Name"]').value)
                                req_body.append("Recipe Keyword", document.querySelector('[name="Recipe Keyword"]').value)
                                req_body.append("Recipe Ingredients", document.querySelector('[name="Recipe Ingredients"]').value)
                                req_body.append("Recipe Instructions", document.querySelector('[name="Recipe Instructions"]').value)
                                return fetch(`/update/{{ recipe[0].name }}`, {
                                        method: 'PUT',
                                        body: req_body
                                    })
                                    .then(respone => {
                                        if (respone.redirected) {
                                            window.location.href = respone.url
                                        }
                                    })
                            }
                        </script>
                    </div>
                </article>
            </form>
        </section>
    </div>
</body>

</html>