/*Fill in later*/

:root {
    --dark-yellow: #FF9F1C;
    --yellow: #FFBF69;
    --pastel-blue: #CBF3F0;
    --bright-blue: #2EC4B6;
    --white: #FFFFFF;
}

body h1 {
    /* h1?? font choice?? */
}

.create-recipe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create-recipe-area {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    align-items: center;
    justify-content: center;
}

textarea {
    margin-top: 5px;
    margin-bottom: 8px;
}

.recipe-parts {
    margin: 0;
}

.recipe-name {
    width: 150px;
}

.recipe-keyword {
    width: 150px;
}

.recipe-ingredients {
    width: 250px;
}

.recipe-instructions {
    width: 300px;
}

.recipe-display {
    display: flex;
    flex-direction: column;
}

.recipe {
    padding: 2em;
    background-color: var(--yellow);
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.steps {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.update-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topnav {
    display: flex;
    justify-content: flex-end;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    justify-content: center;
}

.side-nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: var(--pastel-blue);
}

.side-list {
    display: flex;
    flex-direction: column;
    background-color: var(--bright-blue);
}

.recipe-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark-yellow);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

@media screen and (max-width: 600px) {
    .main-container {
        flex-direction: column;
    }
    .side-nav {
        width: 100%;
    }
}