/*Fill in later*/


.create-recipe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.create-recipe-area {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    align-items: center;

}

.recipe-name {
    width: 150px;
}
.recipe-ingredients {
    width: 250px;
}
.recipe-instructions {
    width: 300px;
}
